@model IEnumerable<Dog>


@{
    ViewData["Title"] = "Home";
}
<!-- Jumbotron -->
<div class="card card-image jumbotron">
    <div class="text-white py-5 px-4 header-text">
        <div class="py-5">
            <!-- Content -->
            <h2 class="card-title h2 my-4 py-2">Welcome Back @User.Identity.Name</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
        </div>
    </div>
</div>
<!-- Jumbotron -->
<div class="container my-5">
    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">
        <h3 class="font-weight-bold mb-4 pb-2">Your Pets</h3>
        @if (!Model.Any())
        {
            <p class="text-muted w-responsive mx-auto mb-5">You currently have zero pets.</p>
            <a class="btn-register" asp-area="" asp-controller="Dogs" asp-action="Create">Create One?</a>
        }
        else
        {
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                @foreach (var dog in Model)
                {
                    <div class="col-lg-4 col-md-12 mb-4">
                            <img src="~/media/uploads/@dog.Image" class="img-fluid" alt="Image of Dog" style="width: 250px; height: 250px; border-radius: 50%;">
                        <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                            <h4 class="font-weight-bold mt-1 mb-3"><a asp-area="" asp-controller="Dogs" asp-action="Details" asp-route-id="@dog.Id">@dog.Name</a>
                            </h4>
                            <h5 class="font-weight-bold mt-1 mb-3">@dog.Breed</h5>
                            <h5 class="font-weight-bold mt-1 mb-3">@dog.Sex</h5>
                            <a class="btn btn-indigo btn-sm btn-rounded" asp-area="" asp-controller="Dogs" asp-action="Edit" asp-route-id="@dog.Id"><i class="fas fa-clone left"></i>Edit</a>
                        </div>
                    </div>
                }
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        }
    </section>
    <!-- Section: Block Content -->
</div>
