@model IEnumerable<Dog>

<div class="container my-5">
    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">
        <h3 class="font-weight-bold mb-4 pb-2">Your Pets</h3>
        <p class="text-muted w-responsive mx-auto mb-5">Below you will find a listing of all your pets. Underneath the images are links to assist in recording medications as well as the dates for their next dosages.</p>
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            @foreach (var dog in Model)
            {
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="view overlay rounded z-depth-1">
                        <img src="~/media/uploads/@dog.Image" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                        <h4 class="font-weight-bold mt-1 mb-3">@dog.Name</h4>
                        <h5 class="font-weight-bold mt-1 mb-3">@dog.Breed</h5>
                        <h5 class="font-weight-bold mt-1 mb-3">@dog.Sex</h5>
                        @foreach (var medicine in @dog.MedicationNames)
                        {
                            <p>@medicine</p>
                        }
                        <a class="btn btn-indigo btn-sm btn-rounded"><i class="fas fa-clone left"></i> View project</a>
                    </div>
                </div>
            }
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </section>
    <!-- Section: Block Content -->
</div>
